.App {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
label {
  margin: 10px 0;
}
input {
  padding: 10px;
  background-color: white;
  border: none;
}
.button {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
}